@mixin d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin d-flex-align {
	display: flex;
	align-items: center;
}

@mixin h3-primary {
	font-weight: 500;
	font-size: 18px;
	line-height: 156%;
	letter-spacing: 0.16em;
	text-transform: uppercase;
	color: $primary-text-color;
	margin: 0;
}

@mixin h2-secondary {
	margin: 0 0 32px 0;
	font-weight: 700;
	font-size: 48px;
	line-height: 100%;
	text-transform: capitalize;
	color: $secondary-text-color;
}

@mixin h2-white {
	margin: 0;
	font-weight: 700;
	font-size: 48px;
	line-height: 100%;
	text-transform: capitalize;
	color: $white-text;
}

@mixin p-secondary {
	font-weight: 500;
	font-size: 18px;
	line-height: 156%;
	text-transform: capitalize;
	color: $secondary-text-color;
	opacity: 0.5;
	margin: 0 0 32px 0;
}

@mixin h3-item-secondary {
	font-weight: 600;
	font-size: 28px;
	line-height: 100%;
	text-transform: capitalize;
	color: $secondary-text-color;
}

@mixin h3-faq {
	font-weight: 600;
	font-size: 28px;
	line-height: 100%;
	text-transform: capitalize;
	color: $white-text;
}

@mixin p-faq {
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	text-transform: capitalize;
	text-align: justify;
	color: $white-text;
	opacity: 1;
}

@mixin p-footer {
	font-weight: 500;
	font-size: 16px;
	line-height: 162%;
	text-transform: capitalize;
	color: $secondary-text-color;
}

@mixin h4-footer {
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	text-align: center;
	color: $secondary-text-color;
	margin: 0 0 15px 0;
}
